/* Cards */

article {
    display: flex;
    /* flex-direction: column; */
    margin: 30px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

.card-col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card img {
    max-width: 100%;
    height: auto;
}

.card {
    background: #ffecf6;
    border-radius: 20px 40px !important;
    padding: 20px;
    width: 290px;
    min-height: 380px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}



.card h4 {
    font-family: "David Libre", serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 15px 0 10px;
}

.card p {
    font-size: 14px;
    color: #333;
    font-family: Arial, sans-serif;
}

/* 

.rating-img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

*/

/* Ingredientes/Modo de Preparo */

.recipe-content {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    width: 200px;
    }
    /* 


.recipe-content-text h3 {
    font-family: "David Libre", serif;
    font-size: 24px;
    font-weight: 700;
    color: #64042c;
    margin-bottom: 10px;
}
    */

.recipe-content-text p {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Ativar */

.recipe-content-text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease; /*Suavização da animação*/
}

.recipe-content-text.active {
    max-height: 500px;
    opacity:1;
    margin-top: 10px;
    /* display: block !important; */
}

.card.active {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}