/* ===================== HOME ===================== */
.home-content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center !important;
  /* max-width:max-content; */
  height: 90vh;
  gap: 200px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.header-home-text {
  height: fit-content;
  width: 30%;
  position: relative;
}

.home-content h1 {
  color: #A20B48;
  font-family: "Sansita Swashed";
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
  word-spacing: 6px;
  line-height: 80px;
}

.subtitulo-blog {
  margin: 0;
  color: #7E053A;
  font-family: Miniver;
  font-size: 2rem;
  font-weight: 400;
  line-height: 26px;
}

.cupcake {
  max-width: 700px;
}

/* .sparkle {
  position: absolute;
} */

/* ===================== INPUT & BOTÃO ===================== */
input[type="text"] {
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

input#f,
textarea:focus,
input#f:focus,
select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

#divBusca {
  height: 30px;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #A20B48;
  max-width: 500px;
}

#txtBusca {
  font-family: 'Inter';
  color: #B97F96;
  font-weight: 660;
  background-color: transparent;
  padding-left: 5px;
  font-size: 16px;
  height: 32px;
  width: 191px;
  border: none;
}

/* Corrigido placeholder */
#txtBusca::placeholder {
  color: #B97F96;
}

#btnBusca,
#btnNovidades {
  color: aliceblue;
  border: none;
  border-radius: 6px;
  background: linear-gradient(181deg, rgba(190, 0, 77, 0.80) 39.17%, rgba(69, 0, 28, 0.70) 99.15%);
  box-shadow: 0px 4px 4px #802D69,
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btnBusca {
  /* height: 32px;
  width: 50px; */
  text-align: center;
}

#btnNovidades {
  height: 38px;
  width: 250px;
}

#btnBusca:hover,
#btnNovidades:hover {
  cursor: pointer;
  background: linear-gradient(181deg, rgba(151, 1, 61, 0.80) 39.17%, rgba(69, 0, 28, 0.70) 99.15%);
}

/* ===================== REDES SOCIAIS ===================== */
.redes-sociais {
  position: absolute;
  top: 650px;
  right: 150px;
  align-self: flex-end;
}

/* ===================== NOVIDADES DA SEMANA ===================== */
.novidades-semana-content {
  background-color: rgba(246, 160, 181, 0.30);
  background-image: url(/img/background-pink.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  position: relative;
  z-index: 1;
}

.novidades-semana-content h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 4rem;
  color: #7E3100;
  margin: 0;
  margin-bottom: 0;
}




/* ===================== BROWNIE SECTION ===================== */
.sessao-brownie {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 250px;
  overflow: hidden;
}

.trigo-fundo {
  /* deixar essa parte em cima do content de novidades-semana */
  position: absolute;
  top: -190px;
  left: -50px;
  z-index: -1;
  width: auto;
  opacity: 0.8;
}

.trigo-destaque {
  position: absolute;
  bottom: 400px;
  left: -10px;
  z-index: 0;
  width: 160px;
  opacity: 0.8;
}

.header-brownie-text {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  max-width: 34%;
}

.brilhinhos {
  position: absolute;
  bottom: 340px;
  left: 200px;
  z-index: 0;
  width: 60px;
  opacity: 0.5;
  /* brilho inicial fraco */
  cursor: pointer;
}

.header-brownie-text h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 4.5rem;
  color: #7E3100;
  margin: 0;
}

.subtitulo-brownie {
  margin: 0;
  color: #7E3100;
  font-family: Miniver;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 26px;
}

.brownie-imgs img {
  height: 580px;
}

#btnBrownieAvela {
  color: aliceblue;
  border: none;
  border-radius: 5px;
  background: linear-gradient(181deg, rgba(164, 64, 0, 0.85) 39.17%, rgba(113, 46, 3, 0.85) 99.15%);
  box-shadow: 0px 4px 4px #712E03,
    0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  transition: background 0.3s ease;
}

#btnBrownieAvela:hover {
  cursor: pointer;
  background: linear-gradient(181deg, rgba(124, 46, 4, 0.9) 39.17%, rgba(105, 40, 4, 0.9) 99.15%);
}

/* ========================== BAKERY SECTION  ============================= */
.session-bakery {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.session-bakery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/img/bakery/background-dourado.png');
  background-size: 500px 280px;
  /* tamanho do padrão hihi hihi  */
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
}

.session-bakery>* {
  position: relative;
  z-index: 1;
}

img.pao {
  max-width: 50% !important;
}

.bakery-title h1 {
  font-family: 'Arsernica Trial';
  font-weight: bold;
  font-size: 430px;
  text-align: center;
  background: radial-gradient(circle at center, #B05728 0%, #EDBD5B 73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  opacity: 0.30;
}


.layout-bakery {
  display: flex;
  align-items: center;
}

.layout-right-bakery {
  max-width: 30%;
  text-align: left;
}

.description-bakery {
  font-size: 1.5rem;
  color: #865718;
}

#btnBakery {
  color: white
}